/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
*{
	direction: rtl;
	text-align: right;
	font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.close{
	margin: -1rem -1rem -1rem !important;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
#ex1 .slider-selection {
	background: #BABABA;
}
.w-screen{
	width: 100vw;
}

.h-screen{
	height: 100vh;
}

.h-5{
	height: 5rem
}
.font-icon{
	font-size: 0.8rem !important;
}
.ltr{
	direction: ltr !important;
}
.text-olive{
	color: #94B426;
}
.text-orange{
	color: #EE7B26;
}
.w-20{
	width: 20%;
}
.mb-5rem{
	margin-bottom: 5rem;
}
.event-title{
	font-size: 0.8rem;
}
.option-title{
	font-size: 1.0rem;
}
.bottom-0{
	bottom: 0;
}
.tiny{
	font-size: 1rem !important;
}
.small{
	font-size: 2rem !important;
}
.medium{
	font-size: 4rem !important;
}
.large{
	font-size: 6rem !important;
}
.line-height-1{
	line-height: 1;
}

// Home page quote
blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box{

    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: white;
    margin-top: 25px;
    color:white;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #E0E0E0;

}
.quote-container{
	width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
.quote-container-desktop{
	width: 40%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
.quotation-mark{

    margin-top: -10px;
    font-weight: bold;
    font-size:80px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;

}

.quote-text{

    // font-size: 19px;
    margin-top: -65px;
		margin-left: 5px;
		margin-right: 5px;
}

.writer{
	margin-right: 5px;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0) scale(1);
        }
    50%{
        transform: rotate(0) scale(1.3);
        }
    100%{
        transform: rotate(0) scale(1);
        }
}

#warning{
    animation: yourAnimation 2s infinite 0s linear;
}
// .parent {
// 	display: grid;
// 	grid-template-columns: repeat(5, 1fr);
// 	grid-template-rows: repeat(6, 1fr);
// 	grid-column-gap: 0px;
// 	grid-row-gap: 0px;
// 	background: #efefef
// }
//
// .div1 { grid-area: 1 / 2 / 3 / 6; }
// .div2 { grid-area: 3 / 3 / 5 / 5; }
// .div3 {
// 	 grid-area: 1 / 1 / 7 / 2;
// 	 background: #eafff1;
// 	 -webkit-box-shadow: -7px 0px 5px -1px rgba(0,0,0,0.19);
// -moz-box-shadow: -7px 0px 5px -1px rgba(0,0,0,0.19);
// box-shadow: -7px 0px 5px -1px rgba(0,0,0,0.19);
//  }


.div3 h4{
	line-height: 1.6 !important;
}

.line-height-16{
	line-height: 1.6 !important;

	// box-shadow: none

}

.bg-opaque{
		background: rgba(0,0,0,0.4) !important;
		color: white;
		box-shadow: none;
}

.bg-opaque-white{
		background: rgba(255,255,255,0.6) !important;
		color: black;
		box-shadow: none;
}

.parent-new-country {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: repeat(6, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
}

.div1-new-country { grid-area: 1 / 1 / 7 / 6; }
.div2-new-country { grid-area: 1 / 1 / 7 / 6; }
.div3-new-country {
	grid-area: 1 / 1 / 7 / 2;
	color: white; }
.div4-new-country { grid-area: 1 / 2 / 7 / 6; }

.parent-playing {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: repeat(6, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
}

.div1-playing { grid-area: 1 / 1 / 7 / 6; }
.div2-playing { grid-area: 1 / 1 / 7 / 6; }
.div3-playing {	grid-area: 1 / 1 / 7 / 2; }
.div4-playing { grid-area: 1 / 2 / 7 / 6; }


 .parent {
	 display: grid;
	 grid-template-columns: repeat(10, 1fr);
	 grid-template-rows: repeat(10, 1fr);
	 grid-column-gap: 0px;
	 grid-row-gap: 0px;
 }

 .div1 {
	 		grid-area: 1 / 1 / 11 / 11;
			background-image: asset_url('pollution.webp');
		  background-repeat: no-repeat, no-repeat;
			background-position: center;
			background-size: cover;
  	}
 .div2 {
	 		grid-area: 1 / 1 / 11 / 11;
			background: rgba(0,0,0,0.3);
  			}
 .div3 { grid-area: 8 / 4 / 10 / 6; }
 .div4 { grid-area: 8 / 6 / 10 / 8; }
 .div5 { grid-area: 5 / 4 / 8 / 8; }
 .div6 { grid-area: 1 / 4 / 5 / 8; }


 .absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal-dialog{
	max-width: none
}

.border-medium{
	border-width: medium !important;
}

.bg-image{
	background-image: asset_url('pollution.webp');
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	background-size: cover;
	 background-attachment: fixed;
}
.bg-overlay{
	background: rgba(0,0,0,0.3);
}

.padding-right-none{
	padding-right: 0 !important;
}

.vertical-center{
	vertical-align: middle;
}
.min-h-screen{
	min-height: 100vh;
}
.h-33{
	height: 33%;
}
.relative-bottom{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}
